@use "../base/index" as *;
@use "../abstracts/index" as *;
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  main {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: -38px;
      left: 0;
      background: url("../images/bg-intro-mobile.svg") no-repeat;
      background-size: contain;
      z-index: 1;
    }
    @media (min-width: 390px) {
      &::before {
        position: absolute;
        top: -12%;
        left: 45%;
        background: url("../images/bg-intro-desktop.svg") no-repeat;
      }
    }
  }
}
.modal-wrapper {
  display: none;
}
