@use "../abstracts/index" as *;

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
  position: relative;
  .inner {
    text-align: center;
    .title {
      font-size: 38px;
      color: $primary-dark-blue;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 25px;
    }
    .description {
      font-size: 15px;
      color: $neutral-grayish-blue;
      margin-bottom: 25px;
    }
  }

  .image-wrapper {
    .cellphones-mockup {
      width: 100%;
      position: absolute;
      left: 0;
      top: -133px;
    }
  }

  @media (min-width: 1000px) {
    flex-direction: row;
  }

  &::before {
    content: "";
    background: $neutral-very-light-gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
  }
}
